<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">

<div class="container">
  <div class="row" id="header">
    <div class="col-sm-2"></div>
     <div class="col-sm-7">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/111514610/views/1,width=650,height=650,appearanceId=387,version=1543820067.jpg">
  </div>

     </div>
      <div class="col-sm-4"></div>
    



  <div class="row">
    <div class="col-sm-6">
      <div class="card mt-5 bg-danger text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Not Devoured</h5>

          <ul id="undevoured">
            <!-- NOT DEVOURED -->
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
          
            <!-- <h6>{{this.burger_name}}</h6>-->

            {{/unless}}
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-5 bg-danger text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Devoured</h5>

          <ul id="devoured">
            <!--DEVOURED -->
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
            <!--<h6>{{this.burger_name}}</h6>-->
            {{/if}}
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>

<div class="jumbotron mt-5 bg-danger">
  <h1 class="display-4 text-white">Add a Burger</h1>
  <form class="create-form">

  <div class="form-group text-white">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group text-white">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked>NOT Devoured<br>
    <input type="radio" name="devoured" value="1"> Devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
  <hr class="my-4">
  
  <p class="lead">
    
  </p>
</div>



</div>